* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header.header {
  max-width: 1920px;
  position: relative;
  background-color: #fff;
}
header.header .header_logo_block {
  position: absolute;
  width: 19%;
  height: 69px;
  background-color: #00AE9A;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container > img {
  position: absolute;
  top: 0;
  left: 0;
}

.header_top {
  max-width: 1166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 6px;
}
.header_top .logo_container {
  max-width: 183px;
  background-image: url("../img/header/feather _1.png");
  background-repeat: no-repeat;
  background-position: left center;
  z-index: 3;
}
.header_top .logo_container a.logo {
  position: relative;
  left: 22%;
  color: rgb(235, 88, 88);
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 700;
  z-index: 2;
}
.header_top .logo_container a.logo span {
  color: rgb(255, 255, 255);
}
.header_top .header_nav {
  position: relative;
  max-width: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  left: 61px;
}
.header_top .header_nav > li > a {
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
.header_top .header_tel_price_log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.header_top .header_tel_price_log .header_tel > span:nth-of-type(1) {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-top: 6px;
}
.header_top .header_tel_price_log .header_tel > span:nth-of-type(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.header_top .header_tel_price_log .header_tel > span {
  display: block;
}
.header_top .header_tel_price_log .header_price {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
  border: 1px solid #EB5858;
  border-radius: 6px;
  background-color: #EB5858;
  color: #fff;
}
.header_top .header_tel_price_log .header_log {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #EB5858;
  border: 2px solid #EB5858;
  border-radius: 6px;
  padding: 10px 14px;
}

main.main .container .main_assistance_writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 82px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left {
  width: 54%;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_title {
  max-width: 788px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 35px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_title > span {
  color: rgb(0, 174, 154);
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_content {
  max-width: 635px;
  font-size: 18px;
  line-height: 25px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_content > span {
  font-weight: 600;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_content2 {
  max-width: 693px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 14px;
  margin-bottom: 38px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_need {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 22px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_need .main_assistance_writing_left_need_right > p:nth-of-type(1) {
  max-width: 117px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_need .main_assistance_writing_left_need_right > p:nth-of-type(2) {
  max-width: 559px;
  font-size: 14px;
  line-height: 22px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 26px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_time .main_assistance_writing_left_time_right > p:nth-of-type(1) {
  max-width: 127px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_time .main_assistance_writing_left_time_right > p:nth-of-type(2) {
  max-width: 523px;
  font-size: 14px;
  line-height: 22px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 53px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_guarantee .main_assistance_writing_left_guarantee_right > p:nth-of-type(1) {
  max-width: 117px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_guarantee .main_assistance_writing_left_guarantee_right > p:nth-of-type(2) {
  max-width: 488px;
  font-size: 14px;
  line-height: 22px;
}
main.main .container .main_assistance_writing .main_assistance_writing_left .main_assistance_writing_left_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  padding: 19px 47px;
  border-radius: 6px;
  background-color: rgb(235, 88, 88);
  border-color: rgb(235, 88, 88);
}
main.main .container .main_assistance_writing .main_assistance_writing_right {
  position: relative;
  width: 46%;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture {
  width: 100%;
  display: block;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(1) {
  position: relative;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(1) > img {
  position: absolute;
  top: 0;
  right: 0;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(2) {
  position: relative;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(2) > img {
  position: absolute;
  top: 0;
  left: 0;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(3) {
  position: relative;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(3) > img {
  position: absolute;
  top: 20vh;
  right: 0;
}
main.main .container .main_assistance_writing .main_assistance_writing_right > picture:nth-of-type(4) > img {
  width: 100%;
}