*{
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header.header {
  max-width: 1920px;
  position: relative;
  background-color: #fff;

  .header_logo_block {
    position: absolute;
    width: 19%;
    height: 69px;
    background-color: #00AE9A;
    top: 0;
    left: 0;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &>img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header_top {
  max-width: 1166px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 6px;

  .logo_container {
    max-width: 183px;
    background-image: url("../img/header/feather _1.png");
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 3;

    a.logo {
      position: relative;
      left: 22%;
      color: rgba(235, 88, 88, 1);
      font-size: 20px;
      line-height: 28px;
      text-transform: capitalize;
      font-family: 'Paytone One';
      font-style: normal;
      font-weight: 700;
      z-index: 2;

      span {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .header_nav {
    position: relative;
    max-width: 374px;
    display: flex;
    column-gap: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    left: 61px;

    &>li>a {
      font-size: 14px;
      line-height: 19px;
      color: #000;
    }
  }

  .header_tel_price_log {
    display: flex;
    column-gap: 22px;

    .header_tel {

      &>span:nth-of-type(1) {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-top: 6px;
      }
      &>span:nth-of-type(2) {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
      }
      &>span {
        display: block;
      }
    }
    .header_price {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      padding: 10px;
      border: 1px solid #EB5858;
      border-radius: 6px;
      background-color: #EB5858;
      color: #fff;
    }
    .header_log {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #EB5858;
      border: 2px solid #EB5858;
      border-radius: 6px;
      padding: 10px 14px;
    }
  }
}

main.main {

  .container {

    .main_assistance_writing {
      display: flex;
      padding-top: 82px;
      margin-bottom: 100px;

      .main_assistance_writing_left {
        width: 54%;

        .main_assistance_writing_left_title {
          max-width: 788px;
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
          margin-bottom: 35px;
          &>span {
            color: rgba(0, 174, 154, 1);
          }
        }

        .main_assistance_writing_left_content {
          max-width: 635px;
          font-size: 18px;
          line-height: 25px;
          &>span {
            font-weight: 600;
          }
        }

        .main_assistance_writing_left_content2 {
          max-width: 693px;
          font-size: 16px;
          line-height: 22px;
          margin-top: 14px;
          margin-bottom: 38px;
        }

        .main_assistance_writing_left_need {
          display: flex;
          column-gap: 25px;
          margin-bottom: 22px;

          .main_assistance_writing_left_need_right {

            &>p:nth-of-type(1) {
              max-width: 117px;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-transform: uppercase;
            }
            &>p:nth-of-type(2) {
              max-width: 559px;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }

        .main_assistance_writing_left_time {
          display: flex;
          column-gap: 25px;
          margin-bottom: 26px;

          .main_assistance_writing_left_time_right {
            &>p:nth-of-type(1) {
              max-width: 127px;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-transform: uppercase;
            }
            &>p:nth-of-type(2) {
              max-width: 523px;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
        .main_assistance_writing_left_guarantee {
          display: flex;
          column-gap: 25px;
          margin-bottom: 53px;

          .main_assistance_writing_left_guarantee_right {

              &>p:nth-of-type(1) {
                max-width: 117px;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-transform: uppercase;
              }
              &>p:nth-of-type(2) {
                max-width: 488px;
                font-size: 14px;
                line-height: 22px;
              }
          }
        }

        .main_assistance_writing_left_price {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #fff;
          padding: 19px 47px;
          border-radius: 6px;
          background-color: rgba(235, 88, 88, 1);
          border-color: rgba(235, 88, 88, 1);
        }
      }

      .main_assistance_writing_right {
        position: relative;
        width: 46%;
        // overflow: hidden;
        &>picture {
          width: 100%;
          display: block;
          flex-grow: 1;
        }

        &>picture:nth-of-type(1) {
          position: relative;

          &>img {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &>picture:nth-of-type(2) {
          position: relative;
          &>img {
            position: absolute;
            top: 0;
            left: 0;
          }

        }
        &>picture:nth-of-type(3) {
          position: relative;
          &>img {
            position: absolute;
            top: 20vh;
            right: 0;
          }
        }
        &>picture:nth-of-type(4) {
          position: relative;
          // z-index: 1;
          &>img {
            position: absolute;
            top: 16vh;
            left: 12vw;
            width: 14.4%;
          }
        }
        &>picture:nth-of-type(5) {
          position: relative;
          &>img {
            position: absolute;
            top: 23vh;
            right: 0;
            width: 29%;
          }
        }
        &>picture:nth-of-type(6) {
          position: relative;
          // flex-grow: 1;
          // z-index: 1;
          &>img {
            // display: block;
            position: absolute;
            width: 100%;
            // z-index: 1;
            // height: 100%;
            max-width: unset;
            top: 0;
            right: 0;
            // object-fit: contain;
          }
        }
        &>picture:nth-of-type(7) {
          position: relative;
          &>img {
            position: absolute;
            top: 84vh;
          left: 0;
          }
        }
      }
    }
    .main_find_out_price {
      padding-top: 100px;

      .main_find_out_price_form {
        background: #FFFFFF;
        box-shadow: 0px 4px 34px rgba(13, 23, 34, 0.1);
        border-radius: 10px;
        padding: 59px 35px 87px 40px;

        .main_find_out_price_form_title_image {
          display: flex;
          column-gap: 39px;
          margin-bottom: 40px;

          .main_find_out_price_form_title {
            display: flex;
            column-gap: 42px;

          .main_find_out_price_form_title_content {

            &>h2 {
              font-weight: 700;
              font-size: 44px;
              line-height: 60px;
              text-align: center;

            }
            .main_find_out_price_form_free_plan {
              font-size: 20px;
              line-height: 27px;
              span {
                font-weight: 700;
              }
            }
          }
          }

          .main_find_out_price_form_image {
            display: flex;
            column-gap: 39px;

            &>img:nth-of-type(2) {
              width: 20px;
            }
          }
        }

        .main_find_out_price_form_content {

          display: flex;
          column-gap: 35px;
          .main_find_out_price_form_content_left {
            .main_find_out_price_form_content_sel {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 25px 30px;
            margin-bottom: 13px;
            &>li>p {
              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              margin-bottom: 7px;
            }
            &>li>select {
              width: 370px;
              font-size: 16px;
              line-height: 22px;
              color: #818A92;
              background: #FFFFFF;
              border: 1px solid #DADBDA;
              border-radius: 6px;
              padding: 8px 0 10px 30px;
              appearance: none;
              background-image: url('../img/main/main_find_out_price/arrow1.svg');
              background-repeat: no-repeat;
              background-position: 95% center;
              option {
                padding-right: 13px;
              }
            }
            }
            .main_find_out_price_form_content_left_slider {
              max-width: 770px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &>p:nth-of-type(1) {
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
              }
              &>img {
                position: relative;
                top: 7px;
              }
              &>p:nth-of-type(2) {
                font-weight: 700;
                font-size: 30px;
                line-height: 41px;
                text-transform: uppercase;
              }
            }
            .main_find_out_price_form_content_left_button {
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              text-transform: uppercase;
              padding: 19px 50px;
              color: #FFFFFF;
              background-color: #EB5858;
              border-radius: 6px;
            }
          }
          .main_find_out_price_form_content_right {

            .main_find_out_price_form_content_right_clock {
            display: flex;
            align-items: center;
            column-gap: 14px;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 44px;
            &>p>span {
              font-weight: 600;
            }
            }

            .main_find_out_price_form_content_right_sale {
            display: flex;
            align-items: center;
            column-gap: 14px;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 54px;
            &>p>span {
              font-weight: 600;
            }
            }

            .main_find_out_price_form_content_right_ptice {
            max-width: 290px;
            background-color: #EFF1CC;
            padding: 32px 23px 25px 20px;
            .main_find_out_price_form_content_right_ptice_content {
              display: flex;
              column-gap: 13px;
              &>p {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
              }
            }
            &>p {
              font-weight: 700;
              font-size: 40px;
              line-height: 54px;
              text-align: center;
            }
            }
          }
        }
      }
    }
  }
}
